/*

_________/\\\________________________/\\\\\_______________
 ________\/\\\______________________/\\\///________________
  ________\/\\\_____________________/\\\_________/\\\__/\\\_
   ________\/\\\______/\\\\\\\\___/\\\\\\\\\_____\//\\\/\\\__
    ___/\\\\\\\\\____/\\\/////\\\_\////\\\//_______\//\\\\\___
     __/\\\////\\\___/\\\\\\\\\\\_____\/\\\__________\//\\\____
      _\/\\\__\/\\\__\//\\///////______\/\\\_______/\\_/\\\_____
       _\//\\\\\\\/\\__\//\\\\\\\\\\____\/\\\______\//\\\\/______
        __\///////\//____\//////////_____\///________\////________.css

    "Breathe in the fresh air,
    Put your mind at ease.
    Let down your hair,
	 Let it flow in the breeze."
	                          = Unknown

	   प्रसन्नता सद्भाव की छाया है; वो सद्भाव का पीछा करती है. प्रसन्न रहने का कोई और तरीका नहीं है.
	                                                                            - ओशो

*/

@import url('https://fonts.googleapis.com/css?family=Baumans');
@import url('https://rsms.me/inter/inter-ui.css');

body {
background: linear-gradient(90deg, #2B2D32  20px, transparent 1%) center, linear-gradient(#2B2D32  20px, transparent 1%) center, #404246;
background-size: 22px 22px;
color: #e7e9ec;
}
h1 {
 margin: 1em 0 0.5em 0;
 color: #e7e9ec;
 font-weight:400;
 font-family:'Baumans', sans-serif;
 font-size: 72px;
 text-shadow: 0 2px #e7e9c, 0 3px #a3a5a8;
line-height: 116px;
 bottom: 42px;
}
h2 {
  	color: #fff;
		font-family:'Inter UI', sans-serif;
  	font-weight: 300;
  	font-size: 28px;
  	  line-height: 1.313;
		  	}
.text{
	font-size: 1.2em;
  	padding:15px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	  border: 2px solid #155695; // 7b8e96
	  width: 587px;
	  margin: 10px auto;
	  text-align: justify;
    background-color:#2B2D32;
    line-height: 30px;
    color: #e7e9ec;
}
.note{
	font-family:'Inter UI', sans-serif;
	font-size: 13px;
	padding:5px;
	width: 50%;
	margin: 5px auto;
  color: #e7e9ec;
  line-height: 21px;

}
unart{
	 margin: 1em 0 0.5em 0;
	line-height: 70px;
	 bottom: 42px;
}
/* header{ /* Subtle  background: linear-gradient(180deg, #30cfd0   0%, #330867 100%); background: linear-gradient(90deg, #7577FA 20px, transparent 1%) center, linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background: linear-gradient(180deg, #330867 0%, #30cfd0  100%);
   animation: huerotator 2s   alternate ease-in;
   }

   @keyframes huerotator {
     0% {
       -webkit-filter: hue-rotate(0deg);
       filter: hue-rotate(0deg);
     }

     100% {
       -webkit-filter: hue-rotate(360deg);
       filter: hue-rotate(360deg);

     }
   } */
/*section{
}
*/

footer {
position: absolute;
bottom:50;
right: 0;
left: 0;
height: 10px;
text-align: center;
font-size: 13.5px;

}
footer >a {
color: #FFF;
text-decoration:none;
}
footer > a:hover {
  color: #e5e5e5;
	text-decoration-line:bold;}
	footer > a:visited {
	 text-decoration:#FFF;
}
