
body {
background: #232123;
color: #fff;
} 
header{ /* Subtle  */
   background: linear-gradient(45deg, #BF755D 0%, #DBE6F6 100%);
   animation: huerotator 3s   alternate ease-in-out;
   }
 
   @keyframes huerotator {
     0% {
       -webkit-filter: hue-rotate(0deg);
       filter: hue-rotate(0deg);
     }
 
     100% {
       -webkit-filter: hue-rotate(360deg);
       filter: hue-rotate(360deg);
 
     }
   }

section{
}

footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999999;
}

footer >a {
color: #FFF;
}

footer > a:hover {
  color: #e5e5e5;
}
